.header {
    height: 100%;
    box-shadow: $shadow-1;
}

//AD-------------------------------------
.ad {
    height: 54px;
    width: 100%;
    background-image: url('../../public/images/ad.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

//top--------------------------------------
.top {
    background: #f8f8f8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    &__container {
        display: flex;
        justify-content: space-between;
        height: 46px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        color: #666;

        Image {
            width: 28px;
            height: 28px;
            object-fit: cover;
            border-radius: 50%;
        }


    }

    &__option {
        cursor: pointer;
        margin-right: 16px;
        display: flex;
        align-items: center;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: -8px;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 20px;
            background: #ccc;
        }

        &:last-of-type {
            &::after {
                display: none;
            }
        }

        &:hover {
            color: #222;
        }

        @media (max-width:670px) {

            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4) {
                display: none;
            }
        }
    }

    &__title {
        margin-left: 8px;
        font-size: 12px;
    }
}

.menu {
    width: 280px;
    position: absolute;
    top: 100%;
    box-shadow: $shadow-1;
    right: 0;
    background-color: #fff;
    z-index: 99;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    h4 {
        text-align: center;
    }
}

.flex {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 0 1rem;
    align-items: center;
    align-content: flex-start;
}

.sub-menu {
    .sub-menu-option {
        padding: 2px 0;

        a {
            width: 100%;
            padding-left: 1rem;
        }

        &:hover {
            background-color: #eeeeeebe;
        }
    }
}

.profile-menu {
    display: flex;
    flex-direction: column;

    span {
        &:last-of-type {
            font-size: 14px;
            text-decoration: underline;
            color: $blue-color;
        }
    }
}

.main {
    position: relative;
    width: 100%;
    display: flex;
    height: 70px;
    align-items: center;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        padding: 0 1rem;

    }

    &__logo {
        display: flex;
    }

    &__search {
        display: flex;
        align-items: center;
        flex: 1;
        background: #eeeeeebc;
        height: 40px;
        border-radius: 4px;

        input {
            outline: none;
            border: none;
            width: 100%;
            height: 100%;
            background: transparent;
            padding-left: 1rem;
        }
    }

    &__search-icon {
        width: 40px;
        height: 40px;
        display: grid;
        place-items: center;
        background-color: $blue-color;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        cursor: pointer;

        svg {
            width: 21px;
            height: 21px;
            fill: #fff;
        }
    }

    &__cart {
        cursor: pointer;
        position: relative;

        svg {
            height: 36px;
            width: 36px;

            fill: #666;

            &:hover {
                fill: $blue-color
            }
        }

        span {
            position: absolute;
            top: -4px;
            right: -10px;
            background-color: $blue-color;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            line-height: 24px;
            font-weight: 600;
            color: #fff;
            text-align: center;
        }



    }
}