#----------DATABASE---------------------------------------------
MONGODB_URL=mongodb+srv://aji777:XTWL1cT3OCzlcozo@cluster0.cnepp8a.mongodb.net/shopi?retryWrites=true&w=majority
#----------NEXT AUTH---------------------------------------------
JWT_SECRET=)+g4*ly5<$P[,4^;61s%9TIk%Co[9]oIyz._K+l6%O8QmHndq#
NEXT_AUTH_URL=http://localhost:3000
/----------GITHUB AUTH---------------------------------------------
GITHUB_ID=437b529f7081b33bcf2b
GITHUB_SECRET=1df3a8485e5fab35872e3988090fee30b5c82a3e 
# ----------GOOGLE AUTH---------------------------------------------
GOOGLE_ID=308950365502-t5polkkuprgrs77jq5c0eihv406srttp.apps.googleusercontent.com 
GOOGLE_SECRET=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
# ----------TWEETER AUTH---------------------------------------------
TWITTER_CLIENT_ID=ZgrlLVMKGsilniv3ipSQrPFtL
TWITTER_CLIENT_SECRET=eoBNwMQJGffKvMIvfIUXAOe9Mt8QdHXdQf1j38cAkKh5GDKJPv
T_ID=X3JhSU5wS2pQNEw0djZEQ3ZEMFQ6MTpjaQ
T_SECRET=CYZ0Rauhg2kDAhyvH11mxkmeqgBkOh4hqMxnSsoi2ooantr4W7
# ----------AUTH0 AUTH---------------------------------------------
AUTH0_CLIENT_ID=Lzqs8KNsfUoScZZQ5ZzE52Jfxjxazsey
AUTH0_CLIENT_SECRET=y8oOgNb1yW-4uiuLJJqwakmGVMCTKUZJ2K6VP9VtQRvvBj-GPJyEKbIGzMyAtikm
AUTH0_ISSUER=https://dev-czr7csntkos0slr7.us.auth0.com
# ----------AUTH0 AUTH---------------------------------------------